body{
    margin: 0px;
}
body, header a, section {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}
header {
    height: 60px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 20;
    background: black;
    padding-top: 8px;
}
.nav {
    color: seashell;
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
#logo {
    height: 50px;
    margin-left: 10px;
    display: inline-block;
    text-align: left;
}
.content {
    width: 1200px;
    height: 700px;
    background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg) center center no-repeat;
    text-align: center;
    margin: 0 auto;
    padding-top:70px;
/* flex properties*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
/* flex properties end*/
}
.text {
    position: relative;
    top: 250px;
    width: 1200px;
    height: 150px;
    background-color: black;
    opacity: 0.7;
}

.tea {
    text-align: center;
}

.teapic {
    height: 200px;
    width: 300px;
    margin: 10px;
    display: block;
}

#tea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.loctext {
    text-align: center;
}

.loc {
    width: 1200px;
    height: 500px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.place {
    background-color: black;
    width: 300px;
    margin: 20px;
    opacity: 0.7;
}

.locate {
    display: flex;
    opacity: 1;
}

.contact {
    height: 200px;
}

.foot {
    text-align: center;
}

.copyright {
    margin-left: 20px;
    text-align: left;
}
